name: Test MPICH and OpenMPI

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  MPICH_VERSION: 4.3.2
  OPENMPI_VERSION: 5.0.9

jobs:
  build:
    strategy:
      fail-fast: false # This disables the default cancel-on-failure behavior
      matrix:
        platform: [ubuntu-latest]
        mpi_vendor: [ MPICH, OpenMPI ]
        apmpi_opt: [ no-apmpi, apmpi, apmpi-coll ]

    runs-on: ${{ matrix.platform }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v4
      - name: Install dependencies
        run: |
          sudo apt-get update -y
      - name: Install MPI compiler vendor - ${{ matrix.mpi_vendor }}
        run: |
          set -x
          cd ${GITHUB_WORKSPACE}
          rm -rf MPI ; mkdir MPI ; cd MPI
          if test "${{ matrix.mpi_vendor }}" = "MPICH" ; then
             # MPICH versions older than 4.2.2 do not support the MPI large
             # count feature.
             wget -q https://www.mpich.org/static/downloads/${MPICH_VERSION}/mpich-${MPICH_VERSION}.tar.gz
             gzip -dc mpich-${MPICH_VERSION}.tar.gz | tar -xf -
             cd mpich-${MPICH_VERSION}
             ./configure --prefix=${GITHUB_WORKSPACE}/MPI \
                         --silent \
                         --enable-romio \
                         --with-file-system=ufs \
                         --with-device=ch3:sock \
                         --disable-fortran \
                         CC=gcc
             make -s LIBTOOLFLAGS=--silent V=1 -j 8 install > qout 2>&1
             make -s -j 8 distclean >> qout 2>&1
          else # OpenMPI
             VER_MAJOR=${OPENMPI_VERSION%.*}
             wget -q https://download.open-mpi.org/release/open-mpi/v${VER_MAJOR}/openmpi-${OPENMPI_VERSION}.tar.gz
             gzip -dc openmpi-${OPENMPI_VERSION}.tar.gz | tar -xf -
             cd openmpi-${OPENMPI_VERSION}
             ./configure --prefix=${GITHUB_WORKSPACE}/MPI \
                         --silent \
                         --with-io-romio-flags="--with-file-system=ufs" \
                         --disable-mpi-cxx --disable-mpi-fortran \
                         CC=gcc
             make -s LIBTOOLFLAGS=--silent V=1 -j 8 install > qout 2>&1
             make -s -j 8 distclean >> qout 2>&1
          fi

      - name: Initialize Darshan
        run: |
          git submodule update --init
          autoreconf -i

      - name: Build Darshan
        run: |
          export PATH="${GITHUB_WORKSPACE}/MPI/bin:${PATH}"
          export DARSHAN_ROOT="${GITHUB_WORKSPACE}"
          export DARSHAN_LOG_PATH="${GITHUB_WORKSPACE}/LOGS"
          export DARSHAN_INSTALL="${GITHUB_WORKSPACE}/INSTALL"
          export DARSHAN_BUILD="${GITHUB_WORKSPACE}/BUILD"
          rm -rf ${DARSHAN_LOG_PATH} ${DARSHAN_BUILD} ${DARSHAN_INSTALL}
          mkdir -p ${DARSHAN_LOG_PATH} ${DARSHAN_BUILD}
          cd ${DARSHAN_BUILD}
          if test "${{ matrix.apmpi_opt }}" = "apmpi" ; then
             APMPI_OPT="--enable-apmpi-mod"
          elif test "${{ matrix.apmpi_opt }}" = "apmpi-coll" ; then
             APMPI_OPT="--enable-apmpi-mod --enable-apmpi-coll-sync"
          fi
          $DARSHAN_ROOT/configure --prefix=${DARSHAN_INSTALL} \
                                  --with-log-path=${DARSHAN_LOG_PATH} \
                                  --with-jobid-env=NONE \
                                  ${APMPI_OPT} \
                                  CC=mpicc RUNTIME_CC=mpicc UTIL_CC=gcc
          make -s LIBTOOLFLAGS=--silent V=1 -j8
          make -s install

      - name: make check
        run: |
          export PATH="${GITHUB_WORKSPACE}/MPI/bin:${PATH}"
          cd ${GITHUB_WORKSPACE}/BUILD
          make check

      - name: Print test log files
        if: ${{ always() }}
        run: |
          cat ${GITHUB_WORKSPACE}/BUILD/darshan-runtime/test/tst_runs.log

      - name: make check running 4 processes
        run: |
          export PATH="${GITHUB_WORKSPACE}/MPI/bin:${PATH}"
          cd ${GITHUB_WORKSPACE}/BUILD
          make check NP=4

